Repository pdiffley/diy-firestore: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{tsx,ts,js,cjs}": ["eslint --cache --fix", "prettier --write"],
  "*.{mdx,json}": ["prettier --write"]
}

Add some styling
  pages/_app.tsx
  styles/globals.css
Due: eslint --cache --fix, prettier --write

Add some code blocks
  posts/03-the-basic-database.mdx
Due: prettier --write

Add back proto lang
  posts/03-the-basic-database.mdx
Due: prettier --write

Get images working
  pages/posts/[[...slug]].tsx
  posts/02-defining-requirements.mdx
  posts/10-composite-queries.mdx
  public/images/collection-dark.png
  public/images/collection.png
  public/images/document-dark.png
  public/images/document.png
Due: eslint --cache --fix, prettier --write

Fix indentation in weird diagram things
  posts/02-defining-requirements.mdx
Due: prettier --write

Turn off prettier for mdx files
  .pnp.loader.mjs
  .prettierignore
  README.md
  notion-light-classic.css
  posts/02-defining-requirements.mdx
  posts/05-basic-subscriptions.mdx
  posts/13-client-connection-server.mdx
Due: prettier --write

Add out to gitignore
  .gitignore
Due: none

fixed a collection example
  posts/02-defining-requirements.mdx
  posts/10-composite-queries.mdx
  styles/globals.css
Due: prettier --write

formatting and subscription updates
  firestore-server/src/post/post_09_simple_query_subscriptions.rs
  pages/index.tsx
  posts/05-basic-subscriptions.mdx
  posts/06-queries-first-attempt.mdx
  posts/07-custom-comparator.mdx
  posts/08-simple-queries-take-two.mdx
  posts/09-simple_query-subscriptions.mdx
  posts/10-composite-queries.mdx
  posts/11-composite-subscriptions.mdx
  posts/12-subscription-update-queues.mdx
  posts/13-client-connection-server.mdx
  posts/15-security-rules.mdx
  sql-setup/create_composite_type.sql
Due: eslint --cache --fix, prettier --write

updated collection
  posts/02-defining-requirements.mdx
  posts/10-composite-queries.mdx
Due: prettier --write

updated css
  styles/globals.css
Due: none

adjusted some formatting
  pages/index.tsx
  pages/posts/[[...slug]].tsx
  posts/01-intro.mdx
  posts/02-defining-requirements.mdx
  posts/03-the-basic-database.mdx
  posts/05-transactions.mdx
  posts/06-basic-subscriptions.mdx
  posts/07-queries-first-attempt.mdx
  posts/08-custom-comparator.mdx
  posts/09-simple-queries-take-two.mdx
  posts/10-simple_query-subscriptions.mdx
  posts/11-composite-queries.mdx
  posts/12-composite-subscriptions.mdx
  posts/13-subscription-update-queues.mdx
  posts/14-client-connection-server.mdx
Due: eslint --cache --fix, prettier --write

extra styling
  .pnp.cjs
  .pnp.loader.mjs
  package.json
  pages/posts/[[...slug]].tsx
  posts/01-intro.mdx
  posts/02-defining-requirements.mdx
  posts/03-the-basic-database.mdx
  posts/04-basic-operations.mdx
  posts/05-transactions.mdx
  posts/06-basic-subscriptions.mdx
  posts/07-queries-first-attempt.mdx
  posts/08-custom-comparator.mdx
  posts/09-simple-queries-take-two.mdx
  posts/10-simple_query-subscriptions.mdx
  posts/11-composite-queries.mdx
  posts/12-composite-subscriptions.mdx
  posts/13-subscription-update-queues.mdx
  posts/14-client-connection-server.mdx
  posts/15-security-rules.mdx
  posts/16-bonus-features-and-configurability.mdx
  styles/globals.css
  yarn.lock
Due: eslint --cache --fix, prettier --write

edits
  pages/posts/[[...slug]].tsx
  posts/01-intro.mdx
  posts/02-defining-requirements.mdx
  posts/11-composite-queries.mdx
Due: eslint --cache --fix, prettier --write

transaction partial update
  posts/02-defining-requirements.mdx
  posts/05-transactions.mdx
Due: prettier --write

edits
  posts/02-defining-requirements.mdx
  posts/03-the-basic-database.mdx
  posts/04-basic-operations.mdx
  posts/05-transactions.mdx
Due: prettier --write

moar edits
  posts/02-defining-requirements.mdx
  posts/03-the-basic-database.mdx
  posts/04-basic-operations.mdx
  posts/05-transactions.mdx
  posts/06-basic-subscriptions.mdx
  posts/07-queries-first-attempt.mdx
  posts/08-custom-comparator.mdx
  posts/09-simple-queries-take-two.mdx
  posts/10-simple_query-subscriptions.mdx
  posts/11-composite-queries.mdx
  posts/12-composite-subscriptions.mdx
  posts/13-subscription-update-queues.mdx
  posts/15-security-rules.mdx
  public/images/number-line-inequality.svg
  public/images/number-line-labeled.svg
  public/images/number-line.svg
Due: prettier --write

edits
  posts/13-subscription-update-queues.mdx
  posts/14-client-connection-server.mdx
  posts/16-bonus-features-and-configurability.mdx
Due: prettier --write

added system design image
  public/images/diy-firestore-system-design.svg
Due: none

Center images
  styles/post.module.css
Due: none

eddddittttss
  posts/01-intro.mdx
  posts/02-defining-requirements.mdx
  posts/12-composite-subscriptions.mdx
  posts/14-client-connection-server.mdx
  public/images/diy-firestore-system-design.svg
  styles/post.module.css
Due: prettier --write

Disable jekyll so that paths with underscores work
  docs/404.html
  docs/404/index.html
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/index.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/basic-operations.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/basic-subscriptions.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/bonus-features-and-configurability.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/client-connection-server.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/composite-queries.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/composite-subscriptions.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/custom-comparator.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/defining-requirements.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/intro.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/queries-first-attempt.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/simple-queries-take-two.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/simple_query-subscriptions.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/subscription-update-queues.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/the-basic-database.json
  docs/_next/data/Y8-_FKxn7il_TI0DRMsur/posts/transactions.json
  docs/_next/static/Y8-_FKxn7il_TI0DRMsur/_buildManifest.js
  docs/_next/static/Y8-_FKxn7il_TI0DRMsur/_ssgManifest.js
  docs/index.html
  docs/posts/basic-operations/index.html
  docs/posts/basic-subscriptions/index.html
  docs/posts/bonus-features-and-configurability/index.html
  docs/posts/client-connection-server/index.html
  docs/posts/composite-queries/index.html
  docs/posts/composite-subscriptions/index.html
  docs/posts/custom-comparator/index.html
  docs/posts/defining-requirements/index.html
  docs/posts/intro/index.html
  docs/posts/queries-first-attempt/index.html
  docs/posts/simple-queries-take-two/index.html
  docs/posts/simple_query-subscriptions/index.html
  docs/posts/subscription-update-queues/index.html
  docs/posts/the-basic-database/index.html
  docs/posts/transactions/index.html
Due: eslint --cache --fix, prettier --write

Disable jekyll so that paths with underscores work, take 2
  docs/.nojekyll
  docs/404.html
  docs/404/index.html
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/index.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/basic-operations.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/basic-subscriptions.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/bonus-features-and-configurability.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/client-connection-server.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/composite-queries.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/composite-subscriptions.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/custom-comparator.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/defining-requirements.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/intro.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/queries-first-attempt.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/simple-queries-take-two.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/simple_query-subscriptions.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/subscription-update-queues.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/the-basic-database.json
  docs/_next/data/mo1NC5iH2XHUWI97ixi8L/posts/transactions.json
  docs/_next/static/mo1NC5iH2XHUWI97ixi8L/_buildManifest.js
  docs/_next/static/mo1NC5iH2XHUWI97ixi8L/_ssgManifest.js
  docs/index.html
  docs/posts/basic-operations/index.html
  docs/posts/basic-subscriptions/index.html
  docs/posts/bonus-features-and-configurability/index.html
  docs/posts/client-connection-server/index.html
  docs/posts/composite-queries/index.html
  docs/posts/composite-subscriptions/index.html
  docs/posts/custom-comparator/index.html
  docs/posts/defining-requirements/index.html
  docs/posts/intro/index.html
  docs/posts/queries-first-attempt/index.html
  docs/posts/simple-queries-take-two/index.html
  docs/posts/simple_query-subscriptions/index.html
  docs/posts/subscription-update-queues/index.html
  docs/posts/the-basic-database/index.html
  docs/posts/transactions/index.html
  package.json
Due: eslint --cache --fix, prettier --write

Disable jekyll so that paths with underscores work, take 3
  docs/404.html
  docs/404/index.html
  docs/_next/data/Sa6E-7qGirZm202tYMp90/index.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/basic-operations.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/basic-subscriptions.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/bonus-features-and-configurability.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/client-connection-server.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/composite-queries.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/composite-subscriptions.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/custom-comparator.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/defining-requirements.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/intro.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/queries-first-attempt.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/simple-queries-take-two.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/simple_query-subscriptions.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/subscription-update-queues.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/the-basic-database.json
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/transactions.json
  docs/_next/static/Sa6E-7qGirZm202tYMp90/_buildManifest.js
  docs/_next/static/Sa6E-7qGirZm202tYMp90/_ssgManifest.js
  docs/index.html
  docs/posts/basic-operations/index.html
  docs/posts/basic-subscriptions/index.html
  docs/posts/bonus-features-and-configurability/index.html
  docs/posts/client-connection-server/index.html
  docs/posts/composite-queries/index.html
  docs/posts/composite-subscriptions/index.html
  docs/posts/custom-comparator/index.html
  docs/posts/defining-requirements/index.html
  docs/posts/intro/index.html
  docs/posts/queries-first-attempt/index.html
  docs/posts/simple-queries-take-two/index.html
  docs/posts/simple_query-subscriptions/index.html
  docs/posts/subscription-update-queues/index.html
  docs/posts/the-basic-database/index.html
  docs/posts/transactions/index.html
  package.json
  public/.nojekyll
Due: eslint --cache --fix, prettier --write

small edits
  docs/404.html
  docs/404/index.html
  docs/_next/data/Sa6E-7qGirZm202tYMp90/posts/defining-requirements.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/index.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/basic-operations.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/basic-subscriptions.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/bonus-features-and-configurability.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/client-connection-server.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/composite-queries.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/composite-subscriptions.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/custom-comparator.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/defining-requirements.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/intro.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/queries-first-attempt.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/simple-queries-take-two.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/simple_query-subscriptions.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/subscription-update-queues.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/the-basic-database.json
  docs/_next/data/o-RxRcpQaaFNhYAx32Ehv/posts/transactions.json
  docs/_next/static/o-RxRcpQaaFNhYAx32Ehv/_buildManifest.js
  docs/_next/static/o-RxRcpQaaFNhYAx32Ehv/_ssgManifest.js
  docs/index.html
  docs/posts/basic-operations/index.html
  docs/posts/basic-subscriptions/index.html
  docs/posts/bonus-features-and-configurability/index.html
  docs/posts/client-connection-server/index.html
  docs/posts/composite-queries/index.html
  docs/posts/composite-subscriptions/index.html
  docs/posts/custom-comparator/index.html
  docs/posts/defining-requirements/index.html
  docs/posts/intro/index.html
  docs/posts/queries-first-attempt/index.html
  docs/posts/simple-queries-take-two/index.html
  docs/posts/simple_query-subscriptions/index.html
  docs/posts/subscription-update-queues/index.html
  docs/posts/the-basic-database/index.html
  docs/posts/transactions/index.html
  posts/02-defining-requirements.mdx
Due: eslint --cache --fix, prettier --write

edit :(
  docs/404.html
  docs/404/index.html
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/index.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/basic-operations.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/basic-subscriptions.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/bonus-features-and-configurability.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/client-connection-server.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/composite-queries.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/composite-subscriptions.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/custom-comparator.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/defining-requirements.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/intro.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/queries-first-attempt.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/simple-queries-take-two.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/simple_query-subscriptions.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/subscription-update-queues.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/the-basic-database.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/transactions.json
  docs/_next/data/z0XZqr3XMOIhrEkSm_ARn/posts/custom-comparator.json
  docs/_next/static/W_S3KRYDdY721L0aHKEHq/_buildManifest.js
  docs/_next/static/W_S3KRYDdY721L0aHKEHq/_ssgManifest.js
  docs/index.html
  docs/posts/basic-operations/index.html
  docs/posts/basic-subscriptions/index.html
  docs/posts/bonus-features-and-configurability/index.html
  docs/posts/client-connection-server/index.html
  docs/posts/composite-queries/index.html
  docs/posts/composite-subscriptions/index.html
  docs/posts/custom-comparator/index.html
  docs/posts/defining-requirements/index.html
  docs/posts/intro/index.html
  docs/posts/queries-first-attempt/index.html
  docs/posts/simple-queries-take-two/index.html
  docs/posts/simple_query-subscriptions/index.html
  docs/posts/subscription-update-queues/index.html
  docs/posts/the-basic-database/index.html
  docs/posts/transactions/index.html
  posts/08-custom-comparator.mdx
Due: eslint --cache --fix, prettier --write

removed todos
  docs/404.html
  docs/404/index.html
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/composite-subscriptions.json
  docs/_next/data/W_S3KRYDdY721L0aHKEHq/posts/simple_query-subscriptions.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/index.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/basic-operations.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/basic-subscriptions.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/bonus-features-and-configurability.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/client-connection-server.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/composite-queries.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/composite-subscriptions.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/custom-comparator.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/defining-requirements.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/intro.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/queries-first-attempt.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/simple-queries-take-two.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/simple_query-subscriptions.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/subscription-update-queues.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/the-basic-database.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/transactions.json
  docs/_next/static/a5EX6HxxB7Cej3JmsRVXg/_buildManifest.js
  docs/_next/static/a5EX6HxxB7Cej3JmsRVXg/_ssgManifest.js
  docs/index.html
  docs/posts/basic-operations/index.html
  docs/posts/basic-subscriptions/index.html
  docs/posts/bonus-features-and-configurability/index.html
  docs/posts/client-connection-server/index.html
  docs/posts/composite-queries/index.html
  docs/posts/composite-subscriptions/index.html
  docs/posts/custom-comparator/index.html
  docs/posts/defining-requirements/index.html
  docs/posts/intro/index.html
  docs/posts/queries-first-attempt/index.html
  docs/posts/simple-queries-take-two/index.html
  docs/posts/simple_query-subscriptions/index.html
  docs/posts/subscription-update-queues/index.html
  docs/posts/the-basic-database/index.html
  docs/posts/transactions/index.html
  posts/10-simple_query-subscriptions.mdx
  posts/12-composite-subscriptions.mdx
Due: eslint --cache --fix, prettier --write

updated docs url
  docs/404.html
  docs/404/index.html
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/index.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/basic-operations.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/basic-subscriptions.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/bonus-features-and-configurability.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/client-connection-server.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/composite-queries.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/composite-subscriptions.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/custom-comparator.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/defining-requirements.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/intro.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/queries-first-attempt.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/simple-queries-take-two.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/simple_query-subscriptions.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/subscription-update-queues.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/the-basic-database.json
  docs/_next/data/XoxHB2ysOJdGyvOLtwTwV/posts/transactions.json
  docs/_next/data/a5EX6HxxB7Cej3JmsRVXg/posts/custom-comparator.json
  docs/_next/static/XoxHB2ysOJdGyvOLtwTwV/_buildManifest.js
  docs/_next/static/XoxHB2ysOJdGyvOLtwTwV/_ssgManifest.js
  docs/index.html
  docs/posts/basic-operations/index.html
  docs/posts/basic-subscriptions/index.html
  docs/posts/bonus-features-and-configurability/index.html
  docs/posts/client-connection-server/index.html
  docs/posts/composite-queries/index.html
  docs/posts/composite-subscriptions/index.html
  docs/posts/custom-comparator/index.html
  docs/posts/defining-requirements/index.html
  docs/posts/intro/index.html
  docs/posts/queries-first-attempt/index.html
  docs/posts/simple-queries-take-two/index.html
  docs/posts/simple_query-subscriptions/index.html
  docs/posts/subscription-update-queues/index.html
  docs/posts/the-basic-database/index.html
  docs/posts/transactions/index.html
  posts/08-custom-comparator.mdx
Due: eslint --cache --fix, prettier --write

Copy-edit post 4
  docs/404.html
  docs/404/index.html
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/index.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/basic-operations.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/basic-subscriptions.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/bonus-features-and-configurability.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/client-connection-server.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/composite-queries.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/composite-subscriptions.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/custom-comparator.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/defining-requirements.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/intro.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/queries-first-attempt.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/simple-queries-take-two.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/simple_query-subscriptions.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/subscription-update-queues.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/the-basic-database.json
  docs/_next/data/5zbzbXu7hqqmOa1SSHoRT/posts/transactions.json
  docs/_next/data/ZJlqxWTUfgQsCNGgeHPng/posts/basic-operations.json
  docs/_next/data/ZJlqxWTUfgQsCNGgeHPng/posts/transactions.json
  docs/_next/static/5zbzbXu7hqqmOa1SSHoRT/_buildManifest.js
  docs/_next/static/5zbzbXu7hqqmOa1SSHoRT/_ssgManifest.js
  docs/index.html
  docs/posts/basic-operations/index.html
  docs/posts/basic-subscriptions/index.html
  docs/posts/bonus-features-and-configurability/index.html
  docs/posts/client-connection-server/index.html
  docs/posts/composite-queries/index.html
  docs/posts/composite-subscriptions/index.html
  docs/posts/custom-comparator/index.html
  docs/posts/defining-requirements/index.html
  docs/posts/intro/index.html
  docs/posts/queries-first-attempt/index.html
  docs/posts/simple-queries-take-two/index.html
  docs/posts/simple_query-subscriptions/index.html
  docs/posts/subscription-update-queues/index.html
  docs/posts/the-basic-database/index.html
  docs/posts/transactions/index.html
  posts/04-basic-operations.mdx
  posts/05-transactions.mdx
Due: eslint --cache --fix, prettier --write
